<app-header titulo="Grid - Rows"></app-header>

<ion-content padding fullscreen>
  <ion-grid fixed>
    <!-- <ion-row>
      <ion-col *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1]; let i=index">
        Hola, item {{i+1}}
      </ion-col>
    </ion-row> -->
    
      <ion-row>
        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12" 
        *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1];">
            <ion-card>
                <ion-img src="/assets/stan-lee.jpg"></ion-img>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                <ion-card-title>Car Title</ion-card-title>
                <ion-card-content>
            
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum cum fugit nisi pariatur veniam optio quo quod, iste ipsum aperiam, eius, quasi unde modi? Culpa placeat distinctio et ad debitis.
                </ion-card-content>
            </ion-card>
            
        </ion-col>
      </ion-row>
    
  </ion-grid>
</ion-content>
