<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      
      <ion-back-button defaultHref="/"></ion-back-button>
    
    </ion-buttons>
    <ion-title text-capitalize>list-reorder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-reorder-group [disabled]="false"
                          (ionItemReorder)= "reorder($event)">

        <ion-item *ngFor="let personaje of personajes">
          <ion-label>{{personaje}}</ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>

      </ion-reorder-group>
    </ion-list>

    <ion-button expand="full" 
                (click)="onClick()">
        Guardar
    </ion-button>

  </ion-content>
