<ion-header>
  <ion-toolbar>
    
      <ion-buttons slot="start">
          <ion-back-button  defaultHref="/"></ion-back-button>
      </ion-buttons>
    
    <ion-title text-capitalize>botones</ion-title>

      <ion-buttons slot="end">

        <ion-button color="primary">
          <ion-icon name="heart"></ion-icon>
        </ion-button>

        <ion-button color="primary">
          <ion-icon name="star"></ion-icon>
        </ion-button>

      </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- Botones Normales -->
  <ion-button size="small" expand="full">Small</ion-button>
  <ion-button size="default" expand="full">Default</ion-button>
  <ion-button size="large" expand="full">Large</ion-button>


  <!-- Anchor/Enlace -->

  <ion-button class="top-20" expand="block" routerLink="/inicio"color="tertiary">
    Enlace inicio
  </ion-button>

  <!-- ion-row + ion-col -->
  <ion-row class="top-20">
    <ion-col>
        <ion-button class="rojo"  expand="full" routerLink="/alert">
          alert
        </ion-button>
    </ion-col>
    <ion-col>
        <ion-button expand="full" routerLink="/avatar" color="secondary">
          avatar
        </ion-button>
    </ion-col>
  </ion-row>


  <!-- Fill -->
  <ion-button class="top-20" fill="clear">
      Clear
  </ion-button>

  <ion-button class="top-20" fill="outline">
      Outline
  </ion-button>

  <ion-button class="top-20" fill="solid">
      Solid
  </ion-button>

</ion-content>
