<app-header titulo="Youtube Player"></app-header>

<ion-content>
  <p>Click button to open YouTube Video Player<br>
    <button ion-button round block (click)="watch('i1DiaXP9nCk')">watch video</button>
    </p>
</ion-content>
