<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
        Click me
      </ion-button> -->

      
        <ion-menu-button color="Primary" 
                          menu="primerMenu">
                          
        </ion-menu-button>
      
    </ion-buttons>
    <ion-title color="primary">Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-list>
   <ion-item *ngFor="let c of componentes | async" [routerLink]="c.redirectTo" detail>
    <ion-icon slot="start" [name]="c.icon" color="primary"></ion-icon> 
    <ion-label>{{c.name}}</ion-label>
   </ion-item>
 </ion-list>
  


</ion-content>
