
<app-header [titulo]="titulo || 'alert page'"></app-header>

<ion-content>
  <ion-button expand="full" color="primary" (click)="presentAlert()">
    Mostrar Alerta
  </ion-button>
  <ion-button expand="full" color="secondary" (click)="presentAlertInput()">
    Mostrar Input
  </ion-button>

</ion-content>
