<ion-header>
  <ion-toolbar color="primary">
    
      <ion-buttons  slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    
    <ion-title>popover</ion-title>

    <ion-buttons  slot="end">
      <ion-button (click)="mostratPop($event)">
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>    
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-button expand="full" (click)="mostratPop($event)">
        <ion-icon  name="contact" slot="start"></ion-icon>
        <ion-label>PopOver</ion-label>
    </ion-button> 

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    
    <ion-buttons slot="start">
      <ion-button (click)="mostratPop($event)">
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>    
    </ion-buttons>

    <ion-title>Footer</ion-title>

  </ion-toolbar>
</ion-footer>
