<app-header titulo="card"></app-header>

<ion-content padding>
    <ion-card class="mod">
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item color="success">
            <ion-icon color="light" slot="start" name="pin"></ion-icon>
            <ion-label>
              Marcador
            </ion-label>
        </ion-item>
        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-img src="assets/stan-lee.jpg"></ion-img>
      <ion-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, illum similique nesciunt laudantium repellendus, at, officiis obcaecati porro esse sequi quibusdam quam nobis. Earum dolorem sunt fugit veniam sapiente nulla!</p>
      </ion-card-content>

    </ion-card>
</ion-content>
