<ion-header>
  <ion-toolbar>
    <ion-title text-capitalize>{{nombre}} -- {{pais}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" color="primary" (click)="salirSinArgumentos()">
    Salir sin Argumentos
  </ion-button>

  <ion-button expand="full" color="secondary" (click)="salirConArgumentos()">
      Salir con Argumentos
    </ion-button>

</ion-content>
